[Unit]
Description=Daemon to start the service palmeirasatemorrer
After=ssh.service

[Service]
ExecStart=/home/ubuntu/palmeirasatemorrer/startupd.sh
ExecStop=/home/ubuntu/palmeirasatemorrer/stopd.sh

[Install]
WantedBy=multi-user.target