[Unit]
Description=Run Palmeiras Service at Boot.

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/palmeirasatemorrer/initrc_palmeiras.sh

[Install]
WantedBy=multi-user.target

