img {
    max-width: 100%;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(5, 43, 35);
    color: azure;
}